.postCardContainer {
    width: var(--container-width);
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: left;
    margin: 20px;

    box-shadow: 0px 2px 3px gray;
}

.postCardContainer p {
    margin: var(--container-margin);
}

.postCardHeader {
    display: flex;
    align-items: center;
    margin: var(--container-margin);
    margin-bottom: 0;
}

.postCardHeaderRight {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.profilePic {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.postImgUl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.postImgUl li {
    display: flex;
}

.postImg,
.postSingleImg {
    object-fit: contain;
}

.postImg {
    width: calc((var(--container-width) * 0.5));
    max-height: calc((var(--container-width) * 0.5));
}

.postSingleImg {
    width: calc(var(--container-width));
    max-height: calc(var(--container-width));
}


.editImagesContainer {
    position: relative;
}

.editImagesContainer span {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid black;
    display: flex;
}


.postCardFooter {
    display: flex;
    justify-content: space-between;
    margin: var(--container-margin);
}


.postDetailsPreloadContainer {
    position: fixed;
    top: 30px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1;
    background: gray;
    opacity: 30%;
}

@media screen and (max-width: 900px) {
    .postCardContainer {
        --container-width: 95vw;
        margin: 0;
        margin-bottom: 10px;
    }
}