.postCardUl li {
    display: flex;
}

.postCardBackground {
    z-index: 4;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background: black;
    opacity: 50%;
}

.postCardWrapper {
    width: var(--container-width);
    margin-bottom: 20px;
}

.postCardWrapperScroll {
    width: calc(var(--container-width) + 20px);
    margin-bottom: 20px;
    margin-top: 20px;

    position: fixed;
    top: 0;
    max-height: 95vh;
    z-index: 5;
    overflow-y: scroll;
    overflow-x: hidden;
    scroll-margin: 10px;
}

.postCardContainer {
    width: var(--container-width);
    background-color: white;

    display: flex;
    flex-direction: column;
    align-items: left;

    box-shadow: 0px 2px 3px gray;

    overflow: hidden;
}

.postCardContainer p {
    margin: var(--container-margin);
}

.postCardHeader,
.postCommentHeader {
    display: flex;
    align-items: center;
    margin: var(--container-margin);
    margin-bottom: 0;
}

.postCommentHeader {
    font-size: small;
    margin: 0;
    margin-bottom: var(--container-margin);
}

.postCardHeaderRight {
    display: flex;
    flex-direction: column;
    margin-left: 10px;
}

.profilePic {
    width: 40px;
    height: 40px;
    object-fit: contain;
}

.postImgUl {
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid gray;
    border-bottom: 1px solid gray;
}

.postImgUl li {
    display: flex;
}

.postImg,
.postSingleImg {
    object-fit: contain;
}

.postImg {
    width: calc((var(--container-width) * 0.5));
    max-height: calc((var(--container-width) * 0.5));
}

.postSingleImg {
    width: calc(var(--container-width));
    max-height: calc(var(--container-width));
}


.editImagesContainer {
    position: relative;
}

.editImagesContainer span {
    position: absolute;
    top: 5px;
    right: 5px;
    border: 1px solid black;
    display: flex;
}


.postCardFooter {
    display: flex;
    justify-content: space-between;
    margin: var(--container-margin);
}

.postLikesCount {
    margin-left: var(--container-margin);
}



.postCommentContainer {
    padding: 10px;
    border-bottom: 1px solid black;
    border-radius: 0;
    display: flex;
    flex-direction: column;
}

.postCommentContainer ul,
.postCommentContainer ul li {
    display: flex;
}

.postCommentContainer p {
    margin: 0;
    margin-bottom: var(--container-margin);
}

.commentImage {
    width: calc(var(--container-width) / 4.1);
    max-height: calc(var(--container-width) / 2);
}

.commentProfilePic {
    width: 30px;
    height: 30px;
    object-fit: contain;
}

@media screen and (max-width: 900px) {
    body {
        --container-width: 93vw;
    }

    .postCardWrapper {
        margin-bottom: 10px;
    }

    .postCardWrapperScroll {
        margin: 0;
        max-height: 100vh;
    }
}