* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(247, 252, 255);
}

p {
    overflow-wrap: break-word;
    width: 100%;
}

li,
div {
    border-radius: 5px;
}

svg,
img {
    cursor: pointer;
}