* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(247, 252, 255);

    --container-width: 70vh;
    --container-margin: 10px;
}

p {
    overflow-wrap: break-word;
    width: 100%;
    margin: 0;
}

li,
div {
    border-radius: 5px;
}

svg,
img,
button {
    cursor: pointer;
}

h3 {
    margin: 0;
}

ul {
    padding: 0;
    margin: 0;
}