.messagesUl {
    height: 350px;
    width: 300px;
    overflow-x: hidden;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
}

.messageLi,
.messageLiUser {
    width: 100%;
    display: flex;
    flex-direction: column;
}

.messageLi>div,
.messageLiUser>div {
    width: 200px;
    display: flex;
    flex-direction: column;
}

.messageLi {
    align-items: start;
}

.messageLiUser,
.messageLiUser>div {
    align-items: end;
}

.messageImg {
    height: 100px;
    width: 100px;
    object-fit: contain;
}

.messageAvatar {
    height: 30px;
    width: 30px;
    object-fit: contain;
}