.mainHeader {
    position: sticky;
    top: 0;
    box-shadow: 0px 0.5px 5px gray;
    z-index: 1;
}

.mainNav {
    background-color: white;
    position: relative;
    width: 100%;
    height: 30px;
}

.mainNav form {
    z-index: 5;
    margin: 4px;
}

.mainNav form input {
    border-radius: 10px;
}

.mainNav>div {
    position: absolute;
    width: 100%;
    display: flex;
}

.centerNav {
    justify-content: center;
}

.rightNav {
    justify-content: right;
}

.mainMobileNav {
    display: flex;
    flex-direction: column;
    align-items: center;
    background: white;
}

.topMobileNav {
    display: flex;
    justify-content: center;
}

.botMobileNav {
    margin: 5px;
}