.inputError {
    border-color: red;
}

.mainForm {
    display: flex;
    flex-direction: column;
    align-items: end;
    max-width: var(--container-width);
}

.mainFieldset {
    position: relative;
}

.mainFieldset h2 {
    margin: 0;
}

.mainForm label {
    margin-top: 10px;
}

.mainForm input,
.mainForm select {
    margin-left: 10px;
}

.mainForm input[type="file"],
.mainForm select {
    width: 176px;
}

.mainForm button {
    margin: 10px;
}

.errorsUl {
    color: red;
}